:root
{
  --UNC-Blue: #013c65;
  --UNC-Gold: #f6b000;
  --UNC-Gray: #8a8a8d;
}
body
{
    background-color: var(--UNC-Gray);
}
*
{
    color: var(--UNC-Blue);
    text-align: center;
}
h1
{
    font-size: calc(16pt + 4vw);
}
nav
{
    border: 7px var(--UNC-Gold) solid;
    margin: 8vw;
    margin-top: 5px;
}
section
{
    border: 5px var(--UNC-Blue) solid;
    margin: 18vw;
    margin-top: 30px;
}
.date
{
    color: var(--UNC-Gold);
    white-space: nowrap;
}

.date strong
{
    color: var(--UNC-Gold);
    white-space: nowrap;
}
ul
{
    list-style: none;
    padding-left: 0px;
}
